<h1 style="text-align: center;">Calculadora da Média </h1>

<div class="form-floating mb-3">
    <input [(ngModel)]="AC1" type="number" class="form-control" placeholder="AC1">
    <label for="floatingInput">AC1</label>
  </div>
  <div class="form-floating mb-3">
    <input [(ngModel)]="AC2" type="number" class="form-control" placeholder="AC2">
    <label>AC2</label>
  </div>
  <div class="form-floating mb-3">
    <input [(ngModel)]="AG" type="number" class="form-control" placeholder="AG">
    <label for="floatingInput">AG</label>
  </div>
  <div class="form-floating mb-3">
    <input [(ngModel)]="AF" type="number" class="form-control" placeholder="AF">
    <label>AF</label>
  </div>
  <div class="calcular">
    <button (click)="calcularMedia()" class="btn btn-primary">Calcular</button>
  </div>

  <div class="resultado">
    <label>Média: </label>
    <span>{{media}}</span>
  </div>
